$primaryColor: #f38181;
$secondaryColor: #fce38a;
$iconColor: #eaffd0;
$highlightsColor: #95e1d3;

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba($primaryColor, 0.9),
      rgba($secondaryColor, 0.9)
    ),
    url("images/eagle.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .banner__logo {
      color: white;
      font-size: 14px;
      letter-spacing: 1px;
      cursor: pointer;
      padding-left: 10px;
    }
    ul {
      font-size: 10px;
      display: flex;
      align-items: center;

      li {
        list-style-type: none;
        padding: 10px;

        a {
          color: white;
          letter-spacing: 1px;
          text-decoration: none;
        }
        a:hover {
          color: $secondaryColor;
          border-bottom: 2px solid $secondaryColor;
          padding-bottom: 2px;
        }
      }
    }
  }
  .welcome {
    cursor: default;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateY(-70%);
    transform: translateX(-50%);
    text-align: center;

    div {
      margin-bottom: 20px;
      h2 {
        font-family: "Kaushan Script", cursive;
        color: white;

        margin-bottom: 10px;
      }
      h1 {
        color: white;
      }
    }

    a {
      color: white;
      border: 2px solid white;
      padding: 6px 15px;
      font-size: 0.7rem;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

article {
  .services {
    max-width: 1200px;
    margin: 20px auto;
    .services__title {
      text-align: center;
      letter-spacing: 1px;
      margin-top: 25px;
      margin-bottom: 25px;

      h3 {
        font-family: "Kaushan Script", cursive;
        font-size: 24px;
        margin-bottom: 13px;
      }
      h1 {
        font-size: 23px;
        padding-bottom: 22px;
      }
    }
    .services__title::after {
      content: "";
      display: block;
      width: 10%;
      border-bottom: 3px solid red;
      margin: 0 auto;
    }
    .services__grid {
      margin: 50px auto;
      display: grid;

      gap: 60px;

      .services__grid--service {
        grid-column: span 1;
        display: grid;
        grid-template-columns: 5;
        font-size: 10px;

        img {
          grid-column: span 1;
          padding-right: 1rem;
        }
        h3 {
          grid-column: 2 \5;
        }
        p {
          grid-column: 2 \5;
          color: gray;
        }
      }
    }
  }
  .team {
    max-width: 1200px;
    margin: 20px auto;
    .team__title {
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center;
      letter-spacing: 1px;
      h3 {
        font-family: "Kaushan Script", cursive;
        font-size: 24px;
        margin-bottom: 10px;
      }
      h1 {
        font-size: 23px;
        padding-bottom: 20px;
      }
    }
    .team__title::after {
      content: "";
      display: block;
      width: 10%;
      border-bottom: 3px solid red;
      margin: 0 auto;
    }
    p {
      font-size: 12px;
      color: gray;
      grid-column: span 12;
      text-align: justify;
    }
    .team__grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px;

      .team__grid--member {
        .box {
          position: relative;
          &:hover .imgBox {
            transform: translate(-0.7rem, -0.7rem);
          }
          .highlights {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #95e1d3;
            transition: 0.5s ease-in-out;
          }
          .imgBox {
            position: relative;
            aspect-ratio: 3/4;
            z-index: 1;
            transition: 0.5s ease-in-out;
            .member {
              max-width: 245px;
              object-fit: cover;
              height: 100%;
              width: 100%;
              display: block;
            }
            .socials {
              position: absolute;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              opacity: 0;
              transition: all 0.4s ease-in-out;
              a {
                background-color: $secondaryColor;
                padding: 5px;
                display: inline-block;
                max-width: 30px;
                flex: 1;
                position: relative;
                img,
                .prime {
                  object-fit: contain;
                  aspect-ratio: 1/1;
                }
                .prime {
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  padding: 5px;
                }
              }
              a:hover {
                background-color: $primaryColor;
                .prime {
                  opacity: 1;
                }
              }
            }
          }
          .gradient {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
              to bottom,
              $primaryColor,
              $secondaryColor
            );
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out;
          }
          &:hover {
            .gradient {
              opacity: 0.8;
            }
            .socials {
              opacity: 1;
            }
          }
        }
      }

      h4 {
        text-align: center;
        font-size: 14px;
        padding-bottom: 10px;
        margin-top: 20px;
      }
      p {
        text-align: center;
        font-size: 10px;
      }
    }
  }
}

footer {
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;

  div {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    span {
      color: red;
    }
  }
  form {
    font-size: 0;
    input {
      color: lightgray;
      padding: 5px;
      border: 1px solid lightgray;
      margin: 0;
      display: inline-block;
    }
    input::placeholder {
      color: lightgray;
    }
    button {
      padding: 5px;
      color: white;
      border: 1px solid $highlightsColor;
      background-color: $highlightsColor;
      cursor: pointer;
    }
  }
}

img {
  width: 100%;
  aspect-ratio: 1\1;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .banner {
    nav {
      padding: 25px 360px 0px 360px;
    }
  }
  article {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 25px;
  }
  footer {
    margin: 20px 300px 0px 300px;
  }
}

@media (min-width: 625px) {
  .banner {
    nav {
      ul {
        li {
          padding-left: 30px;
          padding-top: 10px;
          display: inline-block;
        }
      }
    }
    .welcome {
      div {
        margin-bottom: 20px;
      }
      h2 {
        font-size: 35px;
      }
      h1 {
        font-size: 4.5rem;
      }
    }
  }
  .services__grid {
    grid-template-columns: 1fr 1fr 1fr;
    .services__grid--service {
      grid-column: span 1;
    }
  }
}
@media (max-width: 500px) {
  .banner__logo {
    display: none;
  }
}
@media (max-width: 1000px) {
  .box:hover .imgBox {
    transform: translate(0, 3.5rem);
  }
  .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}
